<div class="p-2 m-2 mx-auto md:w-2/3 w-full">
  <h1 class="p-2 rounded-t-2xl bg-white font-bold text-2xl text-center text-blue-300">Trip summary</h1>
  <%= render @booking.flight %>
  <div class="bg-white rounded-2xl shadow-md p-8">
    <h1 class="p-2 rounded-2xl bg-white font-bold text-2xl text-center text-blue-300">Passenger details</h1>
    <% @booking.passengers.each_with_index do |passenger, i| %>
      <ul role="list" class="divide-y divide-gray-200">
        <li class="py-3 sm:py-4">
          <div class="flex items-center justify-around text-gray-400 font-medium">
            <span>Name</span>
            <span>Email</span>
          </div>
          <div class="flex items-center justify-around pt-4">
            <p class="font-medium text-gray-900 truncate">
              <%= passenger.name %>
            </p>
            <p class="text-gray-900 truncate">
              <%= passenger.email %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
